_config.yml
_site/*
*Thumbs.db
Gemfile.lock
.DS_Store
vendor
.bundle
.jekyll-chache/*
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/99/7182e9212e9399c28216278adc6cb3df1a2696d32354141b8ef6ae76672c94
s3_website.yml